{% extends "MainApp/base.html" %} 

{% block content %}

<p><a href="{% url 'MainApp:topic' topic.id %}">{{ topic }}</a></p> <!--provides a link to click back to the topic page-->

<p>Add a new entry:</p>
<form action="{% url 'MainApp:new_entry' topic.id %}" method = 'post'> <!--topic_id is just a variable.
                                                                            topic.id is the attribute id of the topic object.-->

    {% csrf_token %} <!-- will prevent sql injections. prevents users from accessing the database-->

    {{form.as_p }} 

    <button name='submit'>Add entry</button> <!--Add topic is the name on the button-->


</form>
{% endblock content %}