{% extends "MainApp/base.html" %} <!--This is where you can add links to the topics page-->

{% block content %}

<ul>
    {% for t in topics %} 

    <li> <!--the below code gets the names to be a clickable link. We have to tell it which id to use in the url-->
    <a href="{% url 'MainApp:topic' t.id %}"> {{ t }}<a/></li> <!--t will return the name because we have defined a string method-->

    {% empty %}
    <li>No topics have been added yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'MainApp:new_topic' %}">Add a new topic</a>

{% endblock content %}