{% extends "MainApp/base.html" %} 

{% block content %}

<p>Topic: {{topic}}</p> <!--You can only use the keys from the view file in the template-->

<ul>
    <li>
    {% for e in entries %}
    <p>{{ e.text}}</p> <!--use the .text if there is no string method-->
    <p>{{ e.date_added}}</p>
    <p><a href="{% url 'MainApp:edit_entry' e.id %}">Edit entry</a></p> <!--you'll be able to edit every entry-->
    </li>
    {% empty %}
    <li>There are no entries for this topic yet.

    </li>
    {% endfor %}
</ul>

<p><a href="{% url 'MainApp:new_entry' topic.id %}">Add new entry</a></p> <!--we add a new entries link to the topic page
                                                                            we can get topic.id because we are on the topic page.-->

{% endblock content %}
